.spinnerContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff5c;
    z-index: 9999;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


.message-avatar {
    width: 50px;
    height: 50px;
}

.message.w-auto {
    max-width: max-content;
}

.status-low {
    background: var(--x-info);
}

.status-medium {
    background: var(--x-warning);
}

.status-high {
    background: var(--x-danger);
}

.status-solved {
    background: var(--x-success);
}

.status-open {
    background: var(--x-secondary);
}

.seller .css-13cymwt-control {
    border-width: 2px !important;
    border-color: #e7eaf0 !important;
    border-radius: .375rem !important;
    box-shadow: none !important;
    padding-top: 0.213em;
    padding-bottom: 0.213em;
}

.seller .css-t3ipsp-control {
    border-width: 2px !important;
    box-shadow: none !important;
    border-radius: .375rem !important;
    border-color: #5c60f5 !important;
    outline: 0;
    padding-top: 0.213em;
    padding-bottom: 0.213em;
}

.seller .css-1y7rh0y-MultiValueGeneric2 {
    color: #5356dd;
}

.seller .css-1p3m7a8-multiValue {
    background-color: #efeffe;
    color: #5356dd;
}

.w-h-30{
    width: 30px;
    height: 30px;
}

img.ad-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.pointer-events-none {
    pointer-events: none;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #607D8B !important;
    color: #fff;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root{
    height: 35px !important;
    max-width: 35px !important;
}