.spinnerContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff5c;
    z-index: 9999;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.select-option{
    -webkit-appearance: auto !important;
    background-color:transparent !important
}

.message-avatar {
    width: 50px;
    height: 50px;
}

.message.w-auto {
    max-width: max-content;
}

.status-low {
    background: var(--x-info);
}

.status-medium {
    background: var(--x-warning);
}

.status-high {
    background: var(--x-danger);
}

.status-solved {
    background: var(--x-success);
}

.status-open {
    background: var(--x-secondary);
}

.seller .css-13cymwt-control {
    border-width: 2px !important;
    border-color: #e7eaf0 !important;
    border-radius: 0.375rem !important;
    box-shadow: none !important;
    padding-top: 0.213em;
    padding-bottom: 0.213em;
}

.seller .css-t3ipsp-control {
    border-width: 2px !important;
    box-shadow: none !important;
    border-radius: 0.375rem !important;
    border-color: #5c60f5 !important;
    outline: 0;
    padding-top: 0.213em;
    padding-bottom: 0.213em;
}

.seller .css-1y7rh0y-MultiValueGeneric2 {
    color: #5356dd;
}

.seller .css-1p3m7a8-multiValue {
    background-color: #efeffe;
    color: #5356dd;
}

.w-h-30 {
    width: 30px;
    height: 30px;
}

img.ad-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.pointer-events-none {
    pointer-events: none;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #607d8b !important;
    color: #fff;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
    height: 35px !important;
    max-width: 35px !important;
}

.bi-arrows-move {
    cursor: -webkit-grab;
    cursor: grab;
}

/*Navigation MENU*/
.sortable-list {
    list-style-type: none;
    padding: 0;
}

.sortable-container {
    margin-left: 40px;
}

.sortable-item:hover {
    background-color: #f9f9f9;
}

.item-content {
    display: flex;
    align-items: center;
}

.sortable-item,
.sortable-list {
    position: relative;
}
.sub-tree {
    list-style-type: none;
    padding-left: 20px;
}

.sub-tree .sortable-item {
    margin-left: 10px;

    position: relative;
}

.sub-tree {
    position: relative;
}

.sortable-item::before {
    display: block;
    width: 40px;
    height: 1px;
    content: " ";
    background-color: #8a86865c;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: 99;
}

.add-child-btn {
    position: absolute;
    left: -23px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    background: #4c95dd;
    color: #fff;
    border-radius: 25px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove-child-btn {
    position: absolute;
    right: -18px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    background: #ce1f1f;
    color: #fff;
    border-radius: 25px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tree-node {
    padding-left: 20px;
    border-left: 1px solid #8a86865c;
    position: relative;
}
.tree-node.tree-node {
    padding-left: 40px;
}

.tree-node:first-child::before {
    display: block;
    width: 20px;
    height: 1px;
    content: " ";
    background-color: #8a86865c;
    position: absolute;
    left: 0;
    top: 16px;
}

.tree,
.tree ul,
.tree li {
    position: relative;
}

.tree ul {
    list-style: none;
    padding-left: 32px;
}

.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}

.tree li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 12px;
    height: 0;
}

.tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}

.hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
}
hr.hr-text {
    background-color: transparent;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #777777;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: var(--bs-gray);
    background-color: var(--bs-light);
}

.tree ul > li:last-child::after {
    height: 8px;
}

.seller-count {
    position: absolute;
    top: -15px;
    right: -20px;
    color: #5c60f5;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    font-weight: 900;
}

/* Navigation Menu End */

.pending-approval-count {
    position: absolute;
    top: -8px;
    color: var(--bs-light);
    background: #ff0000;
    height: 18px;
    width: 18px;
    font-size: 12px;
    border-radius: 25px;
}

.slick-slide img {
    aspect-ratio: 3/2 !important;
}

iframe.listframe {
    width: 100%;
    min-height: 50vh;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #007bff;
}

.navbar-vertical.navbar-expand-lg.show.contacts {
    min-width: 320px;
}

.navbar-vertical.contacts {
    z-index: 1 !important;
}

img.avatar {
    min-width: 2.875rem !important;
}

.noresults {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
    .contacts.h-lg-screen {
        height: calc(100vh - 88px) !important;
    }
}


@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1480px;
    }
}

.box .box-body .table-responsive{
    display: table;
    min-height: 500px;
    width: 100%;
}
.box .box-body .table-responsive #content {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
   border-radius: 10px !important; 
   border-color: #86a4c3ab !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 6.5px 15px !important;
}

.css-nby9nv-MuiStack-root{
    padding-top: 0 !important;
}