@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --app-font: "Mulish", sans-serif;
}

body {
    font-family: var(--app-font) !important;
}

.navbar-brand img {
    max-width: 90px !important;
    height: unset !important;
}

.navbar-nav .nav-link {
    font-size: 1em !important;
}

a.navbar-brand.top {
    opacity: 0;
    pointer-events: none;
}

nav#navbarVertical {
    z-index: 9999;
}

.w-h-50 {
    width: 50px;
    height: 50px;
}

.w-h-60 {
    width: 60px;
    height: 60px;
}

.w-h-70 {
    width: 70px;
    height: 70px;
}

.image-fit {
    object-fit: cover;
    object-position: center center Im !important;
}

.avatar-big {
    width: 100px;
    height: 100px;
}

@media only screen and (min-width: 992px) {
    nav#navbarVertical {
        position: sticky;
        top: 0;
    }
}

.table thead th,
.table td {
    font-size: unset;
    text-transform: unset;
}


.form-control,
.form-select,
.btn,
.card {
    border-width: 2px;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(31, 45, 61, .075), 0 0 20px rgba(110, 0, 255, .1);
    box-shadow: inset 0 1px 1px rgba(31, 45, 61, .075), 0 0 20px rgba(110, 0, 255, .1);
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.form-check-lg input {
    zoom: 1.4;
}

.form-check-lg {
    padding-left: 2em !important;
}

.rounded-input {
    border-radius: .375rem;
}

.dropdown-menu {
    font-size: unset !important;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}



.css-13cymwt-control {
    border-width: 2px !important;
    border-color: #e7eaf0 !important;
    border-radius: .375rem !important;
    box-shadow: none !important;
    padding-top: 0.213em;
    padding-bottom: 0.213em;
}

.css-t3ipsp-control {
    border-width: 2px !important;
    box-shadow: none !important;
    border-radius: .375rem !important;
    border-color: #5c60f5 !important;
    outline: 0;
    padding-top: 0.213em;
    padding-bottom: 0.213em;
}